@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

:root{
    --primary-color: blue;
    --primary-dark: darkblue;
    --secondary-color: lime;
    --secondary-light: deeppink;
    --tertiary-color: indigo;
    --red:red;
    --gray:gray;
    --black: black;
    --white: white;
    --bg-color:  rgba(0,0,0,.7);
    --bg-light: #333;
    --bg-very:#eee;
}

*{
    font-family: 'Croissant One',serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
    background: var(--primary-color);
    color: var(--white);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    max-height: 300rem;
    padding-top: 75px;
}

/*Nav Bar*/

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--bg-light);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

header #logo{
    width: 3.5rem;
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

header .logo span{
    color: var(--primary-color);
}

header .main-navbar a{
    color: var(--white);
    font-size: 2.5rem;
    margin: 0.8rem;
    text-decoration: none;
}

header .main-navbar a:hover{
    color: var(--primary-color);
}

header .icons i{
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
    margin-right: 2rem;
}

header .icons i:hover{
    color: var(--primary-color);
}

header .search-bar-container{
    position: absolute;
    top: 100%; left: 0; right: 0;
    padding: 1.5rem 2rem;
    background: var(--bg-light);
    border-top: 1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
}

header .search-bar-container.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
}

header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: var(--bg-light);
    font-size: 1.7rem;
    border-radius: 2rem;
}

header .search-bar-container label{
    color: var(--white);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 1.5rem;
}

header .search-bar-container label:hover{
    color: var(--primary-color);
}

#menu-bar{
    color: var(--white);
    border: .1rem solid var(--white);
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}

#menu-bar:hover{
    color: var(--primary-color);
}

section{
    padding: 2rem 9%;
}

/*Button*/

.btn-container{
    width: 25%;
    text-align: center;
    margin: 0 auto;
    display:  block;
    width: 220px;
}

.book-btn{
    display: inline-block;
    margin-top: 0.5rem;
    text-align: center;
    background: linear-gradient(135deg,var(--primary-dark),var(--primary-color));
    color: var(--white);
    border: .2rem solid var(--primary-color);
    cursor: pointer;
    border-radius: 2.5rem;
    font-size: 2rem;
    padding: 1rem 3rem;
    text-decoration: none;
}

.book-btn:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
}

.load-more{
    margin-top: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-btn{
    display: flex;
    justify-content: center;
    gap: 40rem;
}

.booking-btn{
    display: flex;
    justify-content: center;
    gap: 30rem;
    width: 100%;
    align-items: center;
}

hr{
    border: none;
    height: 7px;
    width: 75%;
    margin: 10px auto;
    background: linear-gradient(to right, transparent, var(--secondary-color),var(--primary-color), transparent);
    border-radius: 10px;
    opacity: 1;
}

/*Booking*/

.heading{
    text-align: center;
    padding: 2.5rem 0;
}

.heading span{
    font-size: 4rem;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 1rem;
    padding: .2rem 1rem;
}

.heading span.space{
    background: none;
}

.book .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.book .row .image{
    flex: 1 1 17rem;
}

.book .row .image img{
    width: 100%;
}

.book .row form{
    flex: 1 1 41rem;
    padding: 3rem;
    background: var(--bg-very);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    border-radius: 5rem;
    font-size: 2rem;
}

.head1{
    color: var(--tertiary-color);
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3.5rem;
}

.book .row form .inputBox{
    padding: .5rem 0;
}

.book .row form .genderbox{
    display: flex;
    align-items: center;
    gap: 40px;
}

.book .row form .inputBox input,
.book .row form .inputBox select{
    width: 100%;
    padding: 1rem;
    border: .1rem solid rgba(0,0,0,.5);
    border-radius: 2rem;
    font-size: 1.7rem;
    color: var(--black);
    text-transform: none;
}

.textareabox{
    width: 100%;
    min-height: 170px;
    margin-top: 1rem;
    padding: 1rem;
    border: .1rem solid rgba(0,0,0,.5);
    border-radius: 3rem;
    resize: none;
}

textarea::placeholder{
    font-size: 1.7rem;
    color: var(--black);
}

.term-box{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 15px 0;
}

.term-box input{
    margin-top: 4px;
    flex-shrink: 0;
}

.term-box h3{
    font-size: 2rem;
    line-height: 1.5;
    color: var(--black);
}

/*Home file*/

.login-form-container{
    position: fixed;
    top: -120%; left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active{
    top: 0;
}
.login-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    background: var(--white);
    width: 50rem;
}

.login-form-container form h3{
    font-size: 3rem;
    color: var(--tertiary-color);
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.login-form-container form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    border-radius: 1rem;
    color: var(--black);
    margin: .6rem 0;
    border: .1rem solid rgba(0,0,0,.3);
    text-transform: none;
}

.login-form-container form .box:focus{
    border-color: var(--primary-color);
}

.login-form-container form #remember{
    margin: 2rem 0;
}

.login-form-container form label{
    font-size: 1.5rem;
}

.login-form-container form .btn{
    display: block;
    width: 100%;
}

.login-form-container form p{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--red);
}

.login-form-container form p a{
    color: var(--primary-color);
}

.login-form-container form p a:hover{
    color: var(--white);
    text-decoration: underline;
}

.login-form-container #form-close{
    position: absolute;
    top: 2rem; right: 3rem;
    font-size: 5rem;
    color: var(--white);
    cursor: pointer;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content{
    text-align: center;
    transform: translateY(-50px);
}

.home .content h1{
    margin-top: 0;
    font-size: 6.5rem;
    color: var(--white);
    text-transform: uppercase;
    text-shadow: 0 .5rem .7rem rgba(0,0,0,.2);
}

.home .content h3{
    font-size: 4.5rem;
    color: var(--white);
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .content p{
    font-size: 2.5rem;
    color: var(--white);
    padding: .5rem 0;
}

.home .video-container video{
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home .controls{
    padding: 1rem;
    border-radius: 5rem;
    background: var(--bg-color);
    position: relative;
    top: 5rem;
}

.home .controls .vid-btn{
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    background: var(--white);
    cursor: pointer;
    margin: 0;
}

.home .controls .vid-btn.active{
    background: var(--primary-color);
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.about .image{
    flex: 1 1 41rem;
}

.about .image img{
    width: 100%;
}

.about .content{
    flex: 1 1 41rem;
    padding: 3rem;
    background: var(--bg-very);
    border-radius: 5rem;
    text-align: center;
}

.about .content h3{
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--black);
}

.about .content h4{   
    font-size: 2.5rem;
    color: var(--black);
}

.about .content p{
    font-size: 1.5rem;
    padding: 1.3rem 0;
    line-height: 1.7;
    color: var(--black);
    margin-bottom: 1.5rem;
}

.services h1{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--black);
}
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(21rem,1fr));
    gap: 1.5rem;
}

.services .box-container .box{
    padding: 2rem 2rem;
    text-align: center;
    background: var(--primary-color);
    cursor: pointer;
}

.services .box-container .box:hover{
    background: var(--secondary-color);
}

.services .box-container .box i{
    height: 7rem;
    font-size: 4rem;
}

.services .box-container .box h3{
    color: var(--black);
    font-size: 1.7rem;
    padding-top: 1rem;
}

.reviews{
    background-color: var(--bg-very);
}

.reviews-slider{
    padding: 2rem 0;
}

.swiper-wrapper{
    align-items: stretch;
}

.swiper-slide{
    height: auto;
}

.swiper h1{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    color: var(--black);
}
.reviews .slide{
    padding: 2rem;
    border: .1rem solid var(--black);
    background: var(--white);
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);

}

.reviews .slide img{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.reviews .slide .stars i{
    font-size: 2rem;
    color: var(--primary-color);
}

.reviews .slide p{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
}

.reviews .slide h3{
    font-size: 2.5rem;
    color: var(--primary-color);
}

.reviews .slide span{
    font-size: 2rem;
    color: var(--black);
    display: block;
}

/*About File*/

.about .contents{
    flex: 1 1 41rem;
    padding: 3rem;
    background: var(--bg-very);
    border-radius: 5rem;
    text-align: center;
}

.about .contents h1{
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--black);
}

.about .contents h2{   
    font-size: 3rem;
    color: var(--primary-color);
}

.about .contents h3{   
    font-size: 2.5rem;
    color: var(--primary-color);
}

.about .contents p{
    font-size: 1.7rem;
    padding: 1rem 0;
    color: var(--black);
}

.about .icons-container{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-end;
}

.about .heads{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: var(--black);
}

.about .icons-container .icons{
    background: var(--bg-very);
    padding: 2rem;
    flex: 1 1 30rem;
}

.about .icons-container .icons i{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.about .icons-container .icons span{
    font-size: 2rem;
    color: var(--black);
}

/*Dest File*/

.section_header{
    font-size: 4rem;
    text-align: center;
}

.section_headers{
    font-size: 3rem;
    text-align: center;
}

.section_description{
    font-size: 2rem;
    text-align: center;
}

.destination,
.destinations{
    position: relative;
    overflow: hidden;
}

.destination::before,
.destinations::before{
    position: absolute;
    content: "VOYANTRA";
    bottom: 0; left: 50%;
    transform: translateX(-50%);
    font-size: 20rem;
    font-weight: 900;
    line-height: 14rem;
    letter-spacing: -30px;
    color: var(--gray);
    opacity: 0.2;
    z-index: -1;
}

.destination_container :is(.section_container, .section_description, .section_header){
    text-align: center;
    margin-inline-start: unset;
}

.destination_grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px;
    grid-auto-rows: 400px;
}

.destination_card{
    position: relative;
    isolation: isolate;
}

.card{
    border-radius: 5rem;
    overflow: hidden;
}

.destination_card img{
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    object-fit: cover;
    display: block;
}

.destination_carousel_card{
    width: 50%;
    border-radius: 5rem;
    height: auto;
    object-fit: cover;
    display: block;
    margin: auto;
}

.destination_content{
    border-radius: 5rem;
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--bg-color);
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
}

.destination_card:hover .destination_content{
    opacity: 1;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    display: none;
    z-index: 999;
}

.popup{
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}
.popup-content{
    position: relative;
    top:55%;
    left:51%;
    transform:translate(-50%,-50%);
    align-items: center;
    width: 600px;
    height: 625px;
    background: var(--white);
    border-radius: 5rem;
    padding:20px;
    text-align:center;
    z-index: 1000;
}

.popup-content h1{
    text-align: center;
    font-size: 4rem;
    margin-bottom:10px;
}

.popup-content img{
    width:400px;
    height:250px;
    object-fit:cover;
    border-radius:4rem;
    display:block;
    margin:0 auto;
}

.popup-content p{
    font-size: 1.8rem;
    margin-top:20px;
    text-align:justify;
    margin-bottom: 25px;
}

.close{
    position:absolute;
    top:15px;
    right:20px;
    font-size:30px;
    font-weight:bold;
    cursor:pointer;
}

.destination_card_details{
    width: 50%;
    margin: 10px auto 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 10px 20px;
}

.info h1{
    font-size: 3rem;
    margin-bottom: 3px;
}

.info h3{
    font-size: 2.5rem;

    margin: 0 auto;
}

.destination_rating{
    display: flex;
    align-items: center;
    gap: 5px;
    background: var(--primary-color);
    color: var(--white);
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 1.7rem;
}

.price{
    font-size: 1.7rem;
    margin-top: 10px;
}
.destination_card_details:hover .destination_rating{
    background-color: var(--tertiary-color);
}

.carousel-item{
    text-align: center;
    padding-bottom: 0.7rem;
    min-height: 500px;
}

.carousel-item img{
    width: 100%;
    height: 370px;
    border-radius: 5rem;
    object-fit: cover;
    text-align: center;
}

#destinationCarousel{
    position: relative;
}


.carousel-control-next, 
.carousel-control-prev{
    top: 38%;
    bottom: 62%;
    height: 3rem;
    width: 3rem;
    border-radius: 1rem;
    background: var(--white);
    color: var(--black);
    transform: translateY(-100%);
}

.carousel-control-prev{
    left: 27%;
}

.carousel-control-next{
    right: 27%;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    filter: invert(1);
}

.carousel-control-next:hover, 
.carousel-control-prev:hover{
    color: var(--white);
    background: var(--primary-color);
}

.sections{
    padding:60px 10%;
    background: var(--bg-very);
    padding: 5rem;
    width: 90%;
    max-width: 125rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5rem;
}

.sections h1{
    color: var(--primary-color);
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.sections h3{
    font-size: 3rem;
    color: var(--tertiary-color);
}

.sections h4{
    font-size: 2.5rem;
    color: var(--primary-color);
}

.sections p{
    color: var(--black);
    font-size: 2.3rem;
    padding: 0.5rem;
}

.sections ul{
    width: fit-content;
    margin: 0 auto;
}

.sections li{
    color: var(--black);
    font-size: 2.3rem;
}

.package-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.package-card{
    border: 2px solid var(--black);
    padding: 3rem;
    border-radius:3rem;
    text-align:center;
    background: var(--white);
}

.hotel-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.hotel-card{
    border: 2px solid var(--black);
    border-radius: 5rem;
    overflow:hidden;
    background: var(--white);
}

.hotel-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.hotel-card h3,
.hotel-card p{
    padding:10px;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:15px;
}

.gallery img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius: 5rem;
    border: 2px solid var(--black);
}







/*Thanks*/

.thanks-header{
    justify-content: center;
    align-items: center;
}

.thanks-container{
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanks-box{
    width: 500px;
    text-align: center;
    background: var(--bg-very);
    padding: 40px 30px;
    border-radius: 5rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
}

.thanks-box h1{
    color: var(--black);
    font-size: 4rem;
    margin-bottom: 20px;
}

.thanks-box p{
    color: var(--black);
    font-size: 3rem;
    margin: 10px 0;
}

/*Footer*/

.footer{
    background: url();
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 3rem;
}

.footer .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.footer .box-container .box a{
    color: var(--black);
    font-size: 1.8rem;
    padding-bottom: 1rem;
    display: block;
}

.footer .box-container .box a i{
    color: var(--primary-color);
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.credit{
    text-align: center;
    padding-top: 3rem;
    border-top: .1rem solid var(--white);
    font-size: 2rem;
    color: var(--black);
}

/*Private,Terms,Ask*/

.policy{
    width: 90%;
    max-width:900px;
    margin:35px auto;
    padding:30px;
    background: var(--bg-very);
    border-radius: 5rem;
    box-shadow:0 1rem 2rem rgba(0,0,0,.3);
}

.policy h1{
    text-align:center;
    margin-bottom:25px;
    color: var(--primary-color);
    font-size: 4rem;
    text-transform: uppercase;

}

.policy h2{
    color: var(--tertiary-color);
    font-size: 3rem;
    margin:25px 0 10px;
}

.policy p{
    color: var(--black);
    font-size: 2rem;
    margin:25px 0 10px;
}

.policy ul{
    padding-left:20px;
}

.policy li{
    font-size: 2rem;
    margin-bottom:10px;
}
















/* ==========================
   Large Laptop (1200px)
========================== */
@media (max-width:1200px){

    header{
        padding:2rem 5%;
    }

    section{
        padding:2rem 5%;
    }

    .destination_card_details{
        width:70%;
    }

    .popup-content{
        width:550px;
    }
}

/* ==========================
   Tablet (991px)
========================== */
@media (max-width:991px){
    html{
        font-size:55%;
    }

    header{
        padding: 2rem;
        /*padding:1.5rem 3%;*/
    }

    section{
        padding: 2rem;
    }

    header{
        height: 9rem;
        padding: 1.5rem;
    }

    header .logo{
        font-size: 2.3rem;
    }

    header .main-navbar a{
        font-size: 2rem;
        margin: 1rem;
    }

    header .icons i{
        font-size: 2.3rem;
    }

    .home{
        min-height: 87vh;
    }

    .home .video-container video{
        height: 85vh;
    }

    .destination_grid{
        grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    }

    .destination_card_details{
        width:90%;
    }

    .destination_carousel_card{
        width:80%;
    }

    .carousel-control-prev{
        left:11%;
    }

    .carousel-control-next{
        right:11%;
    }

    .carousel-item img{
        height:350px;
    }
    
    .popup-content{
        width:500px;
        height:auto;
    }

    .popup-content img{
        width:100%;
        height:250px;
    }
}

/* ==========================
   Mobile Menu (768px)
========================== */
@media (max-width:768px){

    #menu-bar{
        display:initial;
        font-size: 3rem;
        padding: .6rem 1.2rem;
    }

    header{
        padding: 2rem 3%;
        min-height: 75px;
    }

    .booking-btn{
        flex-direction: column;
        gap: 1.5rem;
    }

    header #logo{
        width: 4rem;
    }

    header .logo{
        font-size: 2.6rem;
    }

    header .icons i{
        font-size: 2.8rem;
        margin-right: 1.5rem;
    }

    header .main-navbar{
        position:absolute;
        top:100%;
        left:0;
        right:0;
        background:var(--bg-light); 
        border-top:.1rem solid rgba(255,255,255,.2);
        padding:1rem 2rem;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }

    header .main-navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }

    header .main-navbar a{
        display:block;
        border-radius: 1rem;
        padding: 1.5rem;
        margin:1.5rem 0;
        font-size:2rem;
        text-align:center;
    }

    .home{
        min-height: 89vh;
        padding-top: 3rem;
    }

    .home .video-container video{
        height: 87vh;
        width: 100%;
        object-fit: cover;
    }

    .home .content{
        transform: translateY(0);
        padding: 0 2rem;
    }

    .home .content h1{
        font-size:4.5rem;
    }

    .home .content h3{
        font-size:3rem;
    }

    .home .content p{
        font-size:2rem;
    }

    .heading span{
        font-size:3rem;
    }

    .destination_grid{
        grid-template-columns:1fr;
    }

    .destination_carousel_card{
        width:100%;
    }   

    .destination_card_details{
        width:100%;
        flex-direction:column;
        gap:10px;
        text-align:center;
    }

    .book .row{
        flex-direction:column;
    }

    .book .row form{
        width:100%;
    }

    .popup-content{
        width:90%;
        height:auto;
    }

    .popup-content img{
        width:100%;
        height:220px;
    }

    .popup-content h1{
        font-size:3rem;
    }

    .popup-content p{
        font-size:1.8rem;
    }

    .carousel-control-next, 
    .carousel-control-prev{
        top: 30%;
        bottom: 70%;
    }

    .carousel-item img{
        height:350px;
    }

    .sections h1{
        font-size: 3rem;
    }

    .sections h3{
        font-size: 2.3rem;
    }

    .sections h4{
        font-size: 2rem;
    }

    .sections p,
    .sections li{
        font-size: 1.8rem;
    }

    .thanks-header .main-navbar{
        position: static;
        clip-path: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo{
        margin-right: 2rem;
    }

}

/* ==========================
   Small Mobile (576px)
========================== */
@media (max-width:576px){

    html{
        font-size:50%;
    }

    header{
        min-height: 75px;
        padding: 1.5rem;
    }

    .home{
        min-height: 85vh;
    }

    .home .video-container video{
        height: 83vh;
    }

    header .logo{
        font-size:2rem;
    }

    header .icons i{
        font-size:2rem;
        margin-right:1rem;
    }

    .home .content h1{
        font-size:3.8rem;
    }

    .home .content h3{
        font-size:2.5rem;
    }

    .home .content p{
        font-size:1.8rem;
    }

    .section_header{
        font-size:3rem;
    }

    .section_headers{
        font-size:2.3rem;
    }

    .section_description{
        font-size:1.8rem;
    }
    
    .package-container,
    .hotel-container,
    .gallery{
        grid-template-columns: 1fr;
    }

    .hotel-card img,
    .gallery img{
        height: 220px;
    }

    .info h1{
        font-size:2rem;
    }

    .info h3{
        font-size:1.7rem;
    }

    .price{
        font-size:1.5rem;
    }

    .destination_rating{
        font-size:1.3rem;
    }

    .book-btn{
        font-size:1.8rem;
    }

    .btn-container{
        width:100%;
    }

    .popup-content{
        padding:15px;
    }

    .popup-content img{
        height:180px;
    }

    .popup-content p{
        font-size:1.6rem;
    }

    .carousel-item{
        min-height:380px;
    }

    .carousel-item img{
        height:300px;
    }
    
}


@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .heading span{
        font-size: 2.5rem;
    }
}

/* ==========================
   Extra Small Mobile (400px)
========================== */
@media (max-width:400px){

    html{
        font-size:45%;
    }

    .home{
        min-height: 81vh;
    }

    .home .video-container video{
        width: 100%;
        height: 79vh;
        object-fit: cover;
    }

    .home .content{
        padding:0 1rem;
        transform:translateY(0);
    }

    .home .controls{
        top:1.5rem;
        padding:.8rem;
    }

    .home .controls .vid-btn{
        width:1.5rem;
        height:1.5rem;
    }

    .home .content h1{
        font-size:3rem;
    }

    .home .content h3{
        font-size:2rem;
    }

    .heading span{
        font-size:2.4rem;
    }

    .popup-content{
        width:95%;
    }

    .popup-content img{
        height:160px;
    }
}
